# Environment Variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Streamlit
# Ignore the secrets file containing keys
.streamlit/secrets.toml

# Node / Web
node_modules/
dist/
build/
.DS_Store
